<div class="row">
  <div class="col-md-6">
    <p class="lead">Posts: 12</p>
  </div>
  <div class="col-md-6">
    <a href="#" class="btn btn-info float-right">New Post</a>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Category</th>
          <th>Reactions</th>
          <th colspan="2"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Post</td>
          <td>Category</td>
          <td>5</td>
          <td>
            <a href="#">Edit</a>
          </td>
          <td>
            <a href="#">Delete</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
