<div class="row">
  <div class="col-md-8 mx-auto">
    <div class="row">
      <div class="col-md-6 text-left">
        <h2>New Post</h2>
      </div>
      <div class="col-md-6 text-right">
        <a href="<%= admin_posts_path %>"> <i class="fas fa-arrow-left"></i> back</a>
      </div>
    </div>
  </div>

</div>
<div class="row">
  <div class="col-md-8 mx-auto">
    <div class="card">
      <div class="card-body">
        <%= simple_form_for @post, url: admin_posts_path do |f| %>
          <%= render partial: 'form', locals: { f: f, post: @post, authors: @authors } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
